.div-box, #div-box {
  box-shadow: 0px 0.5px 2px 3px #ccc;
  width: 50%;
  height: auto;
  display: inline-block;
  background-color: white;
}

.table-box {
  box-shadow: 0px 0.5px 2px 3px #ccc;
  width: 35%;
  height: auto;
  display: inline-block;
  background-color: white;
}

td{
  padding: 10px;
}