html, body, #root, #cont {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100;
}

form {
  display: inline-block;
}

.form-box {
  margin: 10px;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-color:  grey;
  width: 25%;
  height: auto;
  display: inline-block;
}

.container{
  text-align: center;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100;
}

input {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.btn {
  padding: 7px 20px;
  cursor: pointer;
}
